[submodule "STM32F10X_Platform"]
	path = STM32F10X_Platform
	url = https://github.com/DVMProject/STM32F10X_Platform.git
[submodule "STM32F4XX_Platform"]
	path = STM32F4XX_Platform
	url = https://github.com/DVMProject/STM32F4XX_Platform.git
